<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/alertify/css/alertify.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/alertify/css/themes/default.min.css" />
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/local.css" />
</head>
<body>
<div id="wrapper">
    <%- include('../nav') -%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/home">Главная</a></li>
                    <li class="active">Список товаров</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Список товаров</h1>
            </div>
        </div>
        <%- include('../flash/success') %>
        <div class="row">
            <form action="" method="get" role="form">
                <div class="col-lg-3">
                    <input class="form-control" type="text" name="name" value="<%= data.name %>" maxlength="200" placeholder="Название или код товара">
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Найти товар</button>
                </div>
            </form>
            <div class="col-lg-3">
                <a href="/backend/product/create" class="btn btn-success float-right">Добавить товар</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width:8%">#</th>
                        <th scope="col" style="width:39%">Название товара</th>
                        <th scope="col" style="width:11%">Код товара</th>
                        <th scope="col" style="width:11%">Цена</th>
                        <th scope="col" style="width:11%">На складе</th>
                        <th scope="col" style="width:20%">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (products.length) { %>
                        <% products.forEach(function(product) { %>
                            <tr>
                                <th scope="row"><%= counter++ %></th>
                                <td><%= product.name %></td>
                                <td><%= product.code %></td>
                                <td><%= product.formattedPrice %></td>
                                <td>
                                    <% if (product.inStock) { %>
                                        есть
                                    <% } else { %>
                                        <span class="text-danger">отсутствует</span>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/backend/product/edit/<%= product._id %>"><i class="fa fa-edit"></i> редактировать</a>
                                    <a href="javascript:;" data-item="<%= product._id %>" data-url="product" data-check="remove" class="text-danger delete"><i class="fa fa-trash-o"></i> удалить</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center text-danger">Не было найдено ни одной записи</td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="text-muted">Отображаются товары с <%= paginationData.fromResult %> по <%= paginationData.toResult %> из <%= paginationData.totalResult %> товаров.</p>
            </div>
            <div class="col-lg-6">
                <%- paginator.render(); %>
            </div>
        </div>
    </div>
</div>
<script src="/backend/javascripts/menu.js"></script>
<script src="/plugins/alertify/alertify.min.js"></script>
<script src="/plugins/axios/axios.min.js"></script>
<script src="/backend/javascripts/delete.js"></script>
</body>
</html>