<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/alertify/css/alertify.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/alertify/css/themes/default.min.css" />
    <link rel="stylesheet" type="text/css" href="/backend/stylesheets/local.css" />
</head>
<body>
<div id="wrapper">
    <%- include('../nav') -%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/home">Главная</a></li>
                    <li class="active">Список категорий</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Список категорий</h1>
            </div>
        </div>
        <%- include('../flash/success') %>
        <div class="row">
            <form action="" method="get" role="form">
                <div class="col-lg-3">
                    <input class="form-control" type="text" name="name" value="<%= data.name %>" maxlength="40" placeholder="Название категории">
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="categoryId">
                        <option value="">Во всех категориях</option>
                        <% mainCategories.forEach(function(category) { %>
                            <% if (data.categoryId === category.id) { %>
                                <option value="<%= category.id %>" selected>только в <%= category.name %></option>
                            <% } else { %>
                                <option value="<%= category.id %>">только в <%= category.name %></option>
                            <% } %>
                        <% }); %>
                    </select>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary">Найти категорию</button>
                </div>
            </form>
            <div class="col-lg-3">
                <a href="/backend/category/create" class="btn btn-success float-right">Добавить категорию</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width:10%">#</th>
                            <th scope="col" style="width:25%">Название категории</th>
                            <th scope="col" style="width:25%">Родительская категория</th>
                            <th scope="col" style="width:20%">Количество продуктов</th>
                            <th scope="col" style="width:20%">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (categories.length) { %>
                        <% categories.forEach(function(category) { %>
                            <tr>
                                <th scope="row"><%= counter++ %></th>
                                <td><%= category.name %></td>
                                <td>
                                    <% if (category.parent) { %>
                                        <%= category.parent.name %>
                                    <% } else { %>
                                            <span class="text-muted"><em>Основная категория</em></span>
                                    <% } %>
                                </td>
                                <td><%= category.productsCount %></td>
                                <td>
                                    <a href="/backend/category/edit/<%= category._id %>"><i class="fa fa-edit"></i> редактировать</a>
                                    <a href="javascript:;" data-item="<%= category._id %>" data-url="brand" class="text-danger delete"><i class="fa fa-trash-o"></i> удалить</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center text-danger">Не было найдено ни одной записи</td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="text-muted">Отображаются категории с <%= paginationData.fromResult %> по <%= paginationData.toResult %> из <%= paginationData.totalResult %> категорий.</p>
            </div>
            <div class="col-lg-6">
                <%- paginator.render(); %>
            </div>
        </div>
    </div>
</div>
<script src="/backend/javascripts/menu.js"></script>
<script src="/plugins/alertify/alertify.min.js"></script>
<script src="/backend/javascripts/delete.js"></script>
</body>
</html>