<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible', content="IE = edge" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">
</head>
</html>
<body>
<div class="wrapper">
    <%- include('../modules/header'); -%>
    <section class="page">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <%- breadcrumb %>
            </ul>
        </div>
        <div class="catalog">
            <div class="container">
                <div class="catalog-container">
                    <div class="filter">
                        <div class="filter-catalog">
                            <a href="javascript:;" class="filter-catalog-open">
                                <div class="filter-catalog-container">
                                    <div class="filter-catalog-container-text">
                                        <% if (parent) { %>
                                            <%= parent.name %>
                                        <% } else { %>
                                            Каталог товаров
                                        <% } %>
                                    </div>
                                    <div class="filter-catalog-container-burger">
                                            <span class="catalog-burger">
                                                <span></span>
                                            </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="filter-categories">
                            <div class="side side-hidden">
                                <ul class="menu">
                                    <% mainCategory.forEach(function(category) { %>
                                        <% if (!parent) { %>
                                            <li><a href="/catalog/<%= category.slug %>"><%= category.name %></a></li>
                                        <% } else if (String(parent._id) !== String(category._id)) { %>
                                            <li><a href="/catalog/<%= category.slug %>"><%= category.name %></a></li>
                                        <% } %>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-blocks">
                            <div class="filter-category filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Категории</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <% subCategory.forEach(function(sub) { %>
                                        <% if (category) { %>
                                            <% if (category.id === sub.id) { %>
                                                <div class="checkbox checked" data-item="<%= sub.id %>"><%= sub.name %> <span>(<%= sub.productsCount %>)</span></div>
                                            <% } else { %>
                                                <div class="checkbox" data-item="<%= sub.id %>"><%= sub.name %> <span>(<%= sub.productsCount %>)</span></div>
                                            <% } %>
                                        <% } else { %>
                                                <div class="checkbox" data-item="<%= sub.id %>"><%= sub.name %> <span>(<%= sub.productsCount %>)</span></div>
                                        <% } %>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="filter-price filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Цена</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <div class="filter-block-content-inputs">
                                        <div class="ranger-input">
                                            <input type="text" value="0 грн." data-limit="0" name="range-min" inputmode="numeric" maxlength="8">
                                        </div>
                                        <div class="ranger-separator"><span></span></div>
                                        <div class="ranger-input">
                                            <input type="text" value="<%= maxPrice %> грн." data-limit="<%= maxPrice %>" name="range-max" inputmode="numeric" maxlength="8">
                                        </div>
                                    </div>
                                    <div class="filter-block-content-ranger">
                                        <div class="ranger"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-tags filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Теги</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <div class="filter-tags-container">
                                        <span class="discount">скидка</span>
                                        <span class="bestseller">хит продаж</span>
                                        <span class="new">новинка</span>
                                        <span class="premium">премиум</span>
                                        <span class="only">только у нас</span>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-brand filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Бренд</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <% brands.forEach(function(brand) { %>
                                        <% if (brand.selected) { %>
                                            <div class="checkbox checked" data-item="<%= brand.id %>"><%= brand.name %></div>
                                        <% } else { %>
                                            <div class="checkbox" data-item="<%= brand.id %>"><%= brand.name %></div>
                                        <% } %>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="filter-country filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Cтрана производитель</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <% countries.forEach(function(country) { %>
                                        <% if (country.selected) { %>
                                            <div class="checkbox checked" data-item="<%= country.id %>"><%= country.name %></div>
                                        <% } else { %>
                                            <div class="checkbox" data-item="<%= country.id %>"><%= country.name %></div>
                                        <% } %>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list-caption-container">
                            <div class="list-caption-container-text">
                                <h1><%= title %></h1>
                            </div>
                            <div class="list-caption-container-sort">
                                <ul>
                                    <li>Сортировать по:</li>
                                    <li><a href="javascript:;" data-item="rating" class="active">Рейтингу</a></li>
                                    <li><a href="javascript:;" data-item="new">Новые</a></li>
                                    <li><a href="javascript:;" data-item="cheap">Дешевые</a></li>
                                    <li><a href="javascript:;" data-item="expensive">Дорогие</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="list-products-container">
                            <% products.forEach(function(product) { %>
                                <div class="cell">
                                    <div class="cell-category">
                                        <div class="cell-category-name"><%= product.mainCategory.name %></div>
                                        <div><span class="add-to-favorite" data-item="<%= product.id %>"></span></div>
                                    </div>
                                    <div class="cell-image">
                                        <a href="/product/<%= product.slug %>">
                                            <img src="<%= product.getMainImage() %>" alt="<%= product.name %>">
                                        </a>
                                        <% if (product.cost.isDiscount) { %>
                                            <div class="cell-discount">-<%= product.getDiscountPercentage() %>%</div>
                                        <% } %>
                                    </div>
                                    <div class="cell-price">
                                        <% if (!product.cost.isDiscount) { %>
                                            <div class="cell-price-main"><%= product.getPrice() %> грн.</div>
                                        <% } else { %>
                                            <div class="cell-price-main discount"><%= product.getPrice() %> грн.</div>
                                            <div class="cell-price-old"><%= product.getOriginalPrice() %> грн.</div>
                                        <% } %>
                                    </div>
                                    <div class="cell-name">
                                        <a href="/product/<%= product.slug %>"><%= product.name %></a>
                                    </div>
                                    <div class="cell-tags">
                                        <% if (product.cost.isDiscount) { %>
                                            <span class="discount">скидка</span>
                                        <% } %>
                                        <% if (product.isBestseller) { %>
                                            <span class="bestseller">хит продаж</span>
                                        <% } %>
                                        <% if (product.isPremium) { %>
                                            <span class="premium">премиум</span>
                                        <% } %>
                                        <% if (product.isOnlyHere) { %>
                                            <span class="only">только у нас</span>
                                        <% } %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/plugins/imask/imask.js"></script>
<script src="/plugins/axios/axios.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/filter.js"></script>
</body>
</html>